@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

::-webkit-scrollbar {
    display: none;
}


/* Colors clouds images */

.clouds-color {
    filter: invert(30%) sepia(27%) saturate(918%) hue-rotate(194deg) brightness(44%) contrast(81%);
}